@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
  --darkColor:#00b494;
  --lightColor:  #006266   ;
  --fontFamily:"Montserrat", sans-serif;
  --background:#f5f5f5;
   --shadow:/* rgba(3, 49, 50,0.3)*/  #747d8c; 
  --assColor:#fff;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily);
}
body,html{
  height: 100%;
  font-family:"Montserrat", sans-serif;
  background-color: var(--background);  
}

#mother{
margin: 10px;
padding: 10px;
}
.child_title h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}
.child_title p{
  margin: 5px 8px;
  padding: 5px;
}
#inner{
display: flex;

gap: 20px;
margin: 15px 10px;

}
#inner{
float: right;
align-items: start;
}
#inner img{
  height: 500px;
  width: 500px;
  box-shadow : -8px 6px 16px var(--shadow);
   border-radius: 10px ;
}
#inner p{
  margin: 10px;
  width: 90%;
}
 #inner button{
  width: 80px;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  background: var(--lightColor);
  color: var(--background);
  font-size: 15px;
  border-radius: 5px;
display: block;
margin-left: 45%;
}
 #inner button:hover{background: var(--darkColor);}

